<p class="alert alert-{{ users.notifyClass }}" ng-if="users.notification">{{ users.notification }}</p>
<div class="col-md-5">
    <h2>Luo uusi käyttäjä</h2>
    <form ng-submit="users.createUser()">
        <div class="form-group">
            <label for="new-user-name">Käyttäjänimi</label>
            <input id="new-user-name" class="form-control" ng-model="users.newUserUsername">
        </div>
        <div class="form-group">
            <label for="new-user-password">Salasana</label>
            <input id="new-user-password" type="password" class="form-control" ng-model="users.newUserPassword">
        </div>
        <div class="form-group">
            <label for="new-user-password-confirmation">Vahvista salasana</label>
            <input id="new-user-password-confirmation" type="password" class="form-control"
            ng-model="users.newUserPasswordConfirmation">
        </div>
        <button type="submit" class="btn btn-success">Luo käyttäjä</button>
    </form>
</div>
<div class="col-md-7">
    <h2>Käyttäjät</h2>
    <table id="user-list-table" class="table table-hover">
        <thead>
            <tr>
                <th>Käyttäjä</th>
                <th>Orange Contact-käyttäjä</th>
                <th>Ylläpitäjä?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users.users | orderBy:'username'">
                <td id="td-username" class="col-sm-2">{{ user.username }}</td>
                <td class="col-sm-6">
                    <select ng-blur="users.updateUser(user)" class="form-control"
                        ng-model="user.agent_id" ng-options="agent.id as agent.first_name + ' ' +
                        agent.last_name group by agent.team.name for agent in users.agents | orderBy:['team_id']"></select>
                </td>
                <td class="col-sm-2"><input ng-blur="users.updateUser(user)" type="checkbox" ng-model="user.is_admin"></input></td>
                <td class="col-sm-2"><button class="btn btn-danger" confirmed-click="users.deleteUser(user)"
                        oc-confirm-click="Haluatko varmasti poistaa käyttäjän {{user.username}}?">X</button></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
