{
    "extends": ["airbnb-base/legacy", "angular"],
    "env": {
        "browser": true,
        "jasmine": true,
        "protractor": true
    },
    "globals": {
        "module": true,
        "inject": true
    },
    "rules": {
        "func-names": "off",
        "quote-props": ["error", "consistent"],
        "no-param-reassign": ["error", { "props": false }]
    }
}
