<div class="home-bg">
    <div class="home-menu card">
        <h1>Home</h1>
        <a ui-sref="screen" class="card">Agents</a>
        <a ui-sref="queue" class="card">Queue</a>
        <a ui-sref="filterpanel" class="card">Filters</a>
        <a ui-sref="stats" class="card">Statistics</a>
        <a ui-sref="login" ng-if="!home.isAuthenticated()" class="card">Login</a>
        <div ng-if="home.isAuthenticated()" id="logout">
            Current user: {{ home.username() }}
            <a href="" ng-click="home.logout()" class="card">Logout</a>
        </div>
    </div>
    <div class="home-menu card">
        <p>Fancy statistics for user if logged in?</p>
    </div>
</div>
