<div class="col-md-2"></div>
<div class="col-md-8 foreground">
    <div class="home-menu">
        <h1>Koti</h1>
        <a ui-sref="status" class="card">Statusnäkymä</a>
        <a ui-sref="queue" class="card">Jononäkymä</a>
        <a ui-sref="settings.filters" class="card">Filtteröi</a>
        <a ui-sref="stats" class="card" ng-if="home.isAuthenticated()">Tilastot</a>
        <a ui-sref="settings.general" class="card" ng-if="home.isAuthenticated()">Asetukset</a>
        <a ui-sref="login" ng-if="!home.isAuthenticated()" class="card">Kirjaudu sisään</a>
        <a ng-if="home.isAuthenticated()" ng-click="home.logout()" class="card">Kirjaudu ulos</a>
    </div>
</div>
<div class="col-md-2">
</div>
