@import "common-screen";

.screen-background {
  display: flex;

  .card-container {
    align-self: flex-start;

    flex-wrap: wrap;
    flex-grow: 1;
    align-content: flex-start;
    align-items: stretch;
  }
}

.card {
  box-sizing: border-box;
  margin: $cards-gutter / 2;
  background-color: $card-bg;
  border-radius: 4px;
  box-shadow: $card-shadow;
  padding: $card-padding;
  overflow: hidden;
}

.three-col {
  @include card-width(100% / 3);
}

.four-col {
  @include card-width(25%);
}

.agent-card {
  display: flex;

  .agent-status-color {
    margin-right: $card-padding;
    flex-shrink: 0;
  }
}

@keyframes blink {
  0%, 30% {
    background-color: $card-bg;
  }

  50%, 80% {
    background-color: #ffcf00;
    //background-color: mix($card-bg, yellow, 85%);
  }
}

.after-call {
  animation-duration: 2s;
  animation-name: blink;
  animation-iteration-count: infinite;
}

.agent-status-info {
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
}

.agent-name {
  font-size: 4em;
  line-height: 1;

  .three-col & {
    font-size: 6em;
  }
}

.agent-status-container {
  display: flex;
  opacity: 0.6;
  margin-top: 0.2em;
  font-size: 2.5em;
  line-height: 1;

  .three-col & {
    font-size: 4em;
  }
}

.agent-status-open {
  visibility: hidden;
}

.agent-status {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidebar {
  display: flex;
  background-color: $card-bg;
  width: 6%;
  text-align: center;
  font-size: 400%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: -1px 0 4px $card-shadow-color;

  .agent-status-color {
    margin: auto;
    width: 1.5em;
    height: 1.5em;
    margin-bottom: 0.5em;
  }

  .agent-status-count:first-child {
    margin-top: 0;
  }
}

.agent-status-count {
  margin-top: 3em;
}

.agent-status-color {
  width: 4em;
  border-radius: 4px;
}

.agent-status-color-default {
  background-color: black;
}

.agent-status-color-green {
  background-color: #37c837;
}

.agent-status-color-yellow {
  background-color: #ffff4d;
}

.agent-status-color-red {
  background-color: #f33;
}

.agent-status-color-grey {
  background-color: #b3b3b3;
}

.lunch {
  background-image: image-url("lunch.svg");
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: right 5px top 5px;
}

.agent-card.ng-enter {
  opacity: 0;
  transition: opacity 2s ease-out;
}

.agent-card.ng-enter.ng-enter-active {
  opacity: 1;
}

.agent-card.ng-leave {
  opacity: 1;
  transition: opacity 2s ease-out;
}

.agent-card.ng-leave.ng-leave-active {
  opacity: 0;
}
