.queue-chart .nv-point {
  stroke-opacity: 1 !important;
  stroke-width: 0.7em;
  fill-opacity: 1 !important;
}

.queue-chart .nvd3 g.nv-groups path.nv-line {
  stroke-width: 0;
}

.queue-chart .nv-context {
  display: none !important;
}

.queue-chart .nvd3 text {
  font-size: 2.0em !important;
}

.nvd3 .nv-axis line {
  stroke: #bebebe !important;
}

.queue-chart .nvd3 .nv-x.nv-axis line {
  stroke-width: 0;
}

.queue-chart .nvtooltip {
  display: none !important;
}
