@import "common-screen";

.label-filter {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: normal;
}

input[type=checkbox] {
  transform: scale(1.0);
  -webkit-transform: scale(1.0);
}

.filter-card {
  font-size: 100%;
  width: 50%;
  height: 100%; //miksei tää ny suostu :D
}

.filter-bg {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.filters {
  display: flex;
  margin: 2em;
}
