@import "common-screen";

.personal-card {
  padding: 1em;
  line-height: 1;
  background-color: $card-bg;
  min-height: 100vh;

  > * {
    width: 100%;
  }
}

.personal-statistics {
  padding: 1em 0;
  border-bottom: 2px solid #ccc;

  th {
    text-align: left;
  }

  td {
    text-align: right;
  }
}

.agent-statuses {
  padding-top: 1em;
}

.queue-length {
  font-size: 3em;
  padding-bottom: 1rem;
  border-bottom: 2px solid #ccc;
  text-align: center;
}

.color-square {
  display: inline-block;
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

.own-status {
  display: flex;
  align-items: center;
  font-size: 2em;

  .agent-status-color {
    float: left;
    height: 1em;
    width: 1em;
    margin-right: 0.25rem;
  }
}

.agent-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 0.5em;

  li {
    display: flex;
    line-height: 1;
    margin-top: 0.25em;
  }

  .color-square {
    margin-right: 0.25em;
  }
}
