@import "common-screen";

.queue-background {
  box-sizing: border-box;
}

.queue_length {
  text-align: center;
  max-height: 26% !important;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

$time-font-size: 6vw;
$date-font-size: 4vw;
$total-height: 2 * $date-font-size + $time-font-size;

.q-length {
  font-size: $total-height * 1.25;
  line-height: $total-height;
  align-items: right;
}

.time-date-week {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: $date-font-size;
  line-height: 1;

  .time {
    font-weight: bold;
    font-size: $time-font-size;
  }
}

.queue-div {
  width: 50%;
  line-height: 1;
  display: flex;
  flex-direction: column;
}

.queuer {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  height: 12%;

  * {
    font-size: 10vh;
  }

  .queuer-flag {
    height: 10vh;
    width: 1.6em;
    display: block;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  }

  &.transition {
    &.ng-leave,
    &.ng-enter {
      transition: all 1s ease;
    }

    &.ng-enter.ng-enter-active,
    &.ng-leave {
      opacity: 1;
      height: 12%;
      transform: translateY(0);
    }

    &.ng-enter {
      opacity: 0;
      transform: translateY(10em);
    }

    &.ng-leave.ng-leave-active {
      height: 0;
      opacity: 0;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
    }
  }
}

.queuer-flag-Finnish {
  background-image: image-url("Flag_of_Finland.svg");
}

.queuer-flag-Swedish {
  background-image: image-url("Flag_of_Sweden.svg");
}

.queuer-flag-English {
  background-image: image-url("Flag_of_the_United_Kingdom.svg");
}

.plus-5 {
  display: flex;
  font-size: 2.5vw;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;
  color: $card-bg;
  text-shadow: $card-shadow;
}

.queue-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;

  flex-grow: 1;
  line-height: 1;

  > div {
    display: flex;
    font-size: 5vh;
    justify-content: space-between;
    white-space: nowrap;
  }

  .answer {
    border-bottom: 2px solid;
    font-weight: bold;
    font-size: 6vh;
  }
}

.outer {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.chart {
  height: 500px;
}
