@import "common-screen";

.queue-background {
  box-sizing: border-box;
}

.queue_length {
  text-align: center;
  max-height: 26% !important;

  display: flex;
  justify-content: center;
}

.q-length {
  font-size: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin: 0.25em;
  }
}

.plus-5 {
  display: flex;
  font-size: 2.5vw;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;
  color: $card-bg;
  text-shadow: $card-shadow;
}

.time-date-week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 3.5vw;

  div {
    height: 33.3%;
    padding: 3%;
  }
}

.queue-div {
  width: 50%;
  line-height: 1;
  display: flex;
  flex-direction: column;
}

.queuer {
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-wrap: nowrap;

  .queuer-index {
    width: 20%;
    font-size: 5em;
  }

  .queuer-time {
    width: 60%;
    font-size: 5em;
  }

  .queuer-flag {
    width: 20%;
    height: 100%;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  }
}

.queuer-flag-Finnish {
  background-image: image-url("Flag_of_Finland.svg");
}

.queuer-flag-Swedish {
  background-image: image-url("Flag_of_Sweden.svg");
}

.queuer-flag-English {
  background-image: image-url("Flag_of_the_United_Kingdom.svg");
}

.queue-stats {
  height: 50%;
  text-align: center;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.queue-stats-table {
  border-spacing: 0 1em;
  font-size: 1.75em;

  td {
    width: 50%;
    font-size: 150%;
    line-height: 1;
    text-align: right;
  }

  th {
    font-weight: normal;
    text-align: left;
  }
}

.outer {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.chart {
  height: 50%;
}

.percentage {
  position: relative;
  left: 2.5em;
  font-size: 200%;
}
