.stats-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 2em;
}

.stats {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 60vw;

  font-size: 1.5em;
}
