<div class="col-md-2"></div>
<div class="col-md-8 foreground">
    <div class="col-md-6">
    <h3>Aikaväli</h3>
        <div style="display:flex;margin-bottom:1em">
            <datepicker date-format="dd.MM.yyyy" style="flex-grow:1">
                <input type="text" ng-model="statusChart.startDate" placeholder="Aloituspäivä" style="width:100%">
            </datepicker>
            <div style="padding:0.5em">-</div>
            <datepicker date-format="dd.MM.yyyy" style="flex-grow:1">
                <input type="text" ng-model="statusChart.endDate" placeholder="Lopetuspäivä" style="width:100%">
            </datepicker>
        </div>
        <button type="submit" class="btn btn-success" ng-click="statusChart.fetchData()">Hae</button>
        <button type="button" class="btn" ng-csv="statusChart.getCSVData()" csv-header="statusChart.getCSVHeader()" filename="{{ statusChart.getCSVFilename() }}.csv">Export</button>
    </div>
    <div class="col-md-6">
    <h3>Raportin tyyppi</h3>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="reportTypes" value="day" ng-model="statusChart.reportType" ng-click="statusChart.fetchData()">
                Päivä
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="reportTypes" value="month" ng-model="statusChart.reportType" ng-click="statusChart.fetchData()">
                Kuukausi
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="reportTypes" value="year" ng-model="statusChart.reportType" ng-click="statusChart.fetchData()">
                Vuosi
            </label>
        </div>
    </div>
    <oc-status-chart ng-if="statusChart.chartData" data="statusChart.chartData"></oc-status-chart>
</div>
<div class="col-md-2"></div>
