<nav class="navbar navbar-default" ng-controller="NavbarController as navbar">
    <div class="container">
            <a class="navbar-brand" ui-sref-active="active" ui-sref="app.home">OC-WebGUI</a>
            <ul class="nav navbar-nav">
                <li><a ui-sref-active="active" ui-sref="app.status">Statukset</a></li>
                <li><a ui-sref-active="active" ui-sref="app.queue" >Jono</a></li>
                <li><a ng-if="navbar.isAuthenticated()" href="" ng-click="navbar.openPersonalView()">Oma näkymä</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref-active="active" ui-sref="app.stats.today" ng-if="navbar.isAdmin()">Tilastot</a></li>
                <li><a us-sref-active="active" ui-sref="app.settings.general" ng-if="navbar.isAuthenticated()">Asetukset</a></li>
                <li><a ui-sref-active="active" ui-sref="app.login" ng-if="!navbar.isAuthenticated()">Kirjaudu sisään</a></li>
                <li><a ng-if="navbar.isAuthenticated()" href="" ng-click="navbar.logout()">Kirjaudu ulos</a></li>
            </ul>
    </div>
</nav>
