<h1>Värit</h1>
<p class="alert alert-success alert-float" ng-if="colors.message">{{ colors.message }}</p>
<form ng-submit="colors.save()" ng-if="colors.colors">
    <fieldset>
        <h3 class="legend">Yhteiset</h3>
        <label>
            Taustaväri:
            <input type="color" ng-model="colors.colors.background">
        </label>
        <label>
            Fontti:
            <input type="color" ng-model="colors.colors.font">
        </label>
    </fieldset>
    <fieldset>
        <h3 class="legend">Statukset</h3>
        <label>
            Vapaa:
            <input type="color" ng-model="colors.colors.statuses.free">
        </label>
        <label>
            Puhelu:
            <input type="color" ng-model="colors.colors.statuses.call">
        </label>
        <label>
            Varattu:
            <input type="color" ng-model="colors.colors.statuses.busy">
        </label>
    </fieldset>
    <button class="btn btn-success" type="submit">Tallenna</button>
</form>
