<div class="background queue-background card-container">
    <div class="queue-div">
        <div class="queue_length card">
            <div class="time-date-week">
                <div class="time"> {{ queue.date | date:'HH.mm' }}</div>
                <div> {{ queue.date | date:'EEE d.M.' }}</div>
                <div> {{ queue.date | date:'viikko w' }}</div>
            </div>
            <div class="q-length">
                {{ queue.queue.length }}
            </div>
        </div>
        <div ng-repeat="queuer in queue.queue | limitTo: 5 | orderBy: 'created_at' track by queuer.id" class="queuer card">
            <span class="queuer-index">{{ $index + 1 }}.</span>
            <oc-time dateobj="queuer.created_at" class="queuer-time"></oc-time>
            <span class="queuer-flag queuer-flag-{{ queuer.language }}"></span>
        </div>
        <div ng-if="queue.queue.length > 5" class="plus-5">&#9660</div>
    </div>
    <div class="outer">
        <div class="queue-stats card">
            <div class="answer">
                <div>Vastausprosentti:</div>
                <div>{{ queue.stats.answered_percentage }}%</div>
            </div>
            <div>
                <div>Puhelut:</div>
                <div>{{ queue.stats.answered_calls }} / {{ queue.stats.answered_calls + queue.stats.missed_calls }}</div>
            </div>
            <div>
                <div>Puheluiden ka:</div>
                <div><oc-time seconds="queue.stats.average_call_duration"></oc-time></div>
            </div>
            <div>
                <div>Jälkikirjausten ka:</div>
                <div><oc-time seconds="queue.stats.average_after_call_duration"></oc-time></div>
            </div>
            <div>
                <div>Jonotusten ka:</div>
                <div><oc-time seconds="queue.stats.average_queue_duration"></oc-time></div>
            </div>
            <div>
                <div>Palvelutaso:</div>
                <div>{{ queue.stats.service_level_agreement }}% (<oc-time seconds="queue.sla_time"></oc-time>)</div>
            </div>
        </div>
        <div class="chart card">
            <nvd3 options="queue.options" data="queue.data" api="queue.api" class="queue-chart"></nvd3>
        </div>
    </div>
</div>
