// Place all the styles related to the Agents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.screen_background {
  background-color: silver;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.agent-card {
  display: inline-block;
  width: 20%;
  border: 1px solid black;
  margin: 1%;
  text-align: center;
  background-color: rgba(255,255,255,0.75);
}

.agent-state-color {
  float: left;
  //display: inline-block;
  background-color: greenyellow;
  padding: 3%;
  width: 1em;
  height: 1em;
}

.agent-name {
  display: inline-block;
  padding: 3%;
  font-size: large;
}

.agent-status {
  padding: 3%;
  font-size: medium;
}

.status-timer {
  padding: 3%;
  font-size: medium;
}