// Place all the styles related to the Agents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.screen_background {
  background-color: silver;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.agent-card {
  display: inline-block;
  width: 20%;
  border: 1px solid black;
  margin: 1%;
  text-align: center;
  background-color: rgba(255,255,255,0.75);
}

.agent-card .agent-status-color {
  float: left;
}

.sidebar .agent-status-color {
  margin: auto;
  width: 1em;
  height: 2em;
  margin-bottom: 0.5em;
  //margin-top: 3em;
}

.sidebar {
  display: flex;
  border: 1px solid black;
  background-color: rgba(255,255,255,0.75);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 6%;
  text-align: center;
  font-size: 200%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.sidebar .agent-status-count:first-child {
  margin-top: 0;
}

.agent-status-count {
  margin-top: 3em;
}

.agent-status-color {
  background-color: greenyellow;
  padding: 3%;
  width: 1em;
  height: 1em;
}

.agent-name {
  display: inline-block;
  padding: 3%;
  font-size: large;
}

.agent-status {
  padding: 3%;
  font-size: medium;
}

.status-timer {
  padding: 3%;
  font-size: medium;
}