$cards-gutter: 1em;
$card-bg: rgba(255, 255, 255, 0.75);
$card-shadow-color: rgba(0, 0, 0, 0.2);
$card-shadow: 1px 2px 4px $card-shadow-color;
$card-padding: 0.5em;

body {
  margin: 0;
  padding: 0;
}

.screen_background {
  background-color: #87aade;
  height: 100vh;
  width: 100%;
  display: flex;
}

.button {
  display: block;
  font-size: 0.7em;
  padding: 0.5em;
  background-color: #87aade;
  border: 2px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
  line-height: 1;
}
