$cards-gutter: 1em;
$card-bg: rgba(255, 255, 255, 0.75);
$card-shadow-color: rgba(0, 0, 0, 0.2);
$card-shadow: 1px 2px 4px $card-shadow-color;
$card-padding: 0.5em;

.card-container {
  display: flex;
  padding: $cards-gutter / 2;
}

@mixin card-width($width) {
  width: calc(#{$width} - #{$cards-gutter});
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  opacity: 0; // Visible only on hover
  position: fixed; // Always on top

  top: 0;
  right: 0;
  left: 0;

  padding: 4em;
  padding-bottom: 10em;

  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;

  text-align: center;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);

  a {
    color: #333;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-decoration: none;
    background-color: white;

    font-size: 3em;
    margin: 0.25em;
    border-radius: 4px;
    line-height: 1;

    padding: 1em;
    box-shadow: $card-shadow;

    &:hover {
      // overwrite scraffolds.scss
      background-color: silver;
      color: #333;
    }
  }
}

.navbar:hover {
  opacity: 100;
}

.background {
  background-color: #87aade;
  height: 100vh;
  width: 100%;
}

.button {
  display: block;
  font-size: 0.7em;
  padding: 0.5em;
  background-color: #87aade;
  border: 2px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
  line-height: 1;
}
