.center-all {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

}

.login-bg {
  background-color: #87aade;
  width: 100%;
  height: 100vh;
  display: flex;

  align-items: center;
  justify-content: center;
}

.login-button {
  width: 40%;
  font-size: 1.5em;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10%;
}
