@import "common";

.queue_length {
  text-align: center;
  min-height: 26%;
  max-height: 26% !important;

  display: flex;
  flex-grow: 1;
}

.q-length {
  width: 50%;
  font-size: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin: 0.25em;
  }
}

.plus-5 {
  display: flex;
  font-size: 2.5vw;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;
  color: $card-bg;
  text-shadow: $card-shadow;
}

.time-date-week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 3.5vw;

  div {
    height: 33.3%;
    padding: 3%;
  }
}

.queue-div {
  width: 50%;
  font-size: 3.5vw;
  line-height: 1;
  display: flex;
  flex-direction: column;
}

.queuer {
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-wrap: nowrap;

  .queuer-index {
    width: 20%;
  }

  .queuer-time {
    width: 60%;
  }

  .queuer-flag {
    width: 20%;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;

    div {
      // purkka :D
      opacity: 0;
    }
  }
}

.queuer-flag-Fin {
  background-image: url("Flag_of_Finland.svg");
}

.queuer-flag-Swe {
  background-image: url("Flag_of_Sweden.svg");
}

.queuer-flag-Eng {
  background-image: url("Flag_of_the_United_Kingdom_(3-5).svg");
}

.stats {
  height: 70%;
  font-size: 350%;
  text-align: center;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-table {
  border-spacing: 0 1em;

  td {
    width: 50%;
    font-size: 150%;
    line-height: 1;
    padding: 0.1em;
    text-align: right;
  }

  th {
    font-size: 75%;
    font-weight: normal;
    text-align: left;
  }
}

.outer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.chart {
  height: 30%;
}
