body {
  margin: 0;
  padding: 0;
}

.queue-background {
  background-color: silver;
  height: 100vh;
  width: 100%;
  display: flex;
}

.queue_length {
  text-align: center;
  min-height: 26%;
  max-height: 26%;

  span {
    font-size: 75%;
  }

  div {
    font-size: 2em;
    padding-top: 0.2em;
  }
}

.queue-div {
  width: 50%;
  font-size: 500%;
  line-height: 1;
  display: flex;
  flex-direction: column;
}

.queuer {
  line-height: 1.5;
  display: flex;
  text-align: center;
}

.queuer-index {
  width: 20%;
}

.queuer-time {
  width: 60%;
}

.queuer-flag {
  width: 20%;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.queuer-flag-Fin {
  background-image: url("Flag_of_Finland.svg");
}

.queuer-flag-Swe {
  background-image: url("Flag_of_Sweden.svg");
}

.queuer-flag-Eng {
  background-image: url("Flag_of_the_United_Kingdom_(3-5).svg");
}

.stats {
  width: 50%;
  font-size: 500%;
  text-align: center;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-table {
  border-spacing: 0 1em;

  td {
    width: 50%;
    font-size: 100%;
    line-height: 1;
    padding: 0.1em;
    text-align: right;
  }

  th {
    font-size: 75%;
    font-weight: normal;
    text-align: left;
  }
}
