<div class="container foreground">
    <h1>Kirjaudu sisään</h1>
    <form ng-submit="login.login()">
        <div class="form-group">
            <label for="username">Käyttäjä</label>
            <input ng-model="login.username" id="username">
        </div>
        <div class="form-group">
            <label for="password">Salasana</label>
            <input type="password" ng-model="login.password" id="password">
        </div>
        <p class="error">{{ login.error }}</p>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
