<div class="login-bg">
    <div class="center-all card">
        <h1>{{ login.title }}</h1>
        <form ng-submit="login.login()">
            <label>
                Käyttäjä:
                <input ng-model="login.username">
            </label>
            <br>
            <label>
                Salasana:
                <input type="password" ng-model="login.password">
            </label>
            <br>
            <p class="error">{{ login.error }}</p>
            <input type="submit" value="Login" class="login-button">
        </form>
    </div>
</div>
