<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="center-all foreground">
        <h1>{{ login.title }}</h1>
        <form ng-submit="login.login()">
            <label>
                Käyttäjä:
                <input ng-model="login.username">
            </label>
            <br>
            <label>
                Salasana:
                <input type="password" ng-model="login.password">
            </label>
            <br>
            <p class="error">{{ login.error }}</p>
            <input type="submit" value="Login" class="login-button btn btn-primary">
        </form>
    </div>
</div>
<div class="col-md-2"></div>