<div class="screen_background">
    <a ui-sref="screen">Show state screen</a>
    <div ng-controller="FilterpanelController">
        <div class="card">
            <h2>Teams</h2>
            <label ng-repeat="(team,enabled) in filterpanel.teams">
                <input type="checkbox" id="{{team}}" ng-model="filterpanel.teams[team]" /> {{team}} 
            </label>
        </div>
        <div class="card">
            <h2>States</h2>
            <label ng-repeat="(state,enabled) in filterpanel.states">
                <input type="checkbox" id="{{state}}" ng-model="filterpanel.states[state]" /> {{state}} 
            </label>
        </div>
    </div>
</div>
