<a ui-sref="screen">Show state screen</a>
<div ng-controller="FilterpanelController">
  <label ng-repeat="team in teams">
    <input
      type="checkbox"
      name="selectedTeams[]"
      id="{{ team }}"
      value="{{ team }}"
      ng-checked="selectedTeams.indexOf(team) > -1"
      ng-click="toggleSelection(team)"
    > {{ team }}
  </label>
  <hr />
  <label ng-repeat="state in states">
    <input
      type="checkbox"
      name="selectedStates[]"
      id="{{ state }}"
      value="{{ state }}"
      ng-checked="selectedStates.indexOf(state) > -1"
      ng-click="toggleSelection2(state)"
    > {{ state }}
  </label>
</div>
