<p class="alert alert-success alert-float" ng-if="filters.notification">{{ filters.notification }}</p>
<div class="col-md-6">
    <h2>Ryhmät</h2>
    <label class="label-filter" ng-repeat="(team, enabled) in filters.teams">
        <input type="checkbox" name="team-{{ team }}" ng-model="filters.teams[team]">
        {{ team }}
    </label>
</div>
    <div class="col-md-6">
        <h2>Tilat</h2>
        <label class="label-filter" ng-repeat="(state, enabled) in filters.states">
            <input type="checkbox" name="state-{{ state }}" ng-model="filters.states[state]">
            {{ state }}
        </label>
    </div>
</div>
