<!DOCTYPE html>
<html>
<head>
  <title>OCWebgui</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="ocWebGui">
  <!-- Navbar for every page -->
  <div class="navbar card" ng-controller="NavbarController as navbar">
    <a ui-sref="screen" class="card">Show state screen</a>
    <a ui-sref="queue" class="card">Show queue screen</a>
    <a ui-sref="filterpanel" class="card">Show filter screen</a>
    <a ui-sref="stats" class="card">Show statistics screen</a>
    <a href ng-click="navbar.goFullscreen()" class="card">
        <span ng-show="navbar.isFullscreen">Thinscreen</span>
        <span ng-hide="navbar.isFullscreen">Fullscreen</span>
    </a>
    <a ui-sref="login" ng-if="!navbar.isAuthenticated()" class="card">Login</a>
    <span ng-if="navbar.isAuthenticated()">
        Current user: {{ navbar.username() }}
        <a href="" ng-click="navbar.logout()" class="card">Logout</a>
    </span>
  </div>
  <ui-view></ui-view>
</body>
</html>
