<!DOCTYPE html>
<html>
<head>
  <title>OCWebgui</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="ocWebGui" oc-color="background">
  <ui-view name="nav"></ui-view>
  <ui-view name="content"></ui-view>
</body>
</html>

