<!DOCTYPE html>
<html>
<head>
  <title>OCWebgui</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="ocWebGui">
  <!-- Navbar for every page -->
  <div class="navbar" ng-controller="NavbarController as navbar">
    <a ui-sref-active="active" ui-sref="screen">Status Screen</a>
    <a ui-sref-active="active" ui-sref="queue">Queue Screen</a>
    <a ui-sref-active="active" ui-sref="filterpanel">Filters</a>
    <a ui-sref-active="active" ui-sref="stats">Statistics</a>
    <a ui-sref-active="active" ui-sref="personal" ng-if="navbar.isAuthenticated()">{{ navbar.username() }}</a>
    <a ui-sref-active="active" ui-sref="login" ng-if="!navbar.isAuthenticated()">Login</a>
    <a ng-if="navbar.isAuthenticated()" ng-click="navbar.logout()">Logout</a>
    <a href ng-click="navbar.goFullscreen()">
        {{ navbar.isFullscreen ? 'Exit fullscreen' : 'Fullscreen' }}
    </a>
  </div>
  <ui-view></ui-view>
</body>
</html>
